.note {
    background-color: var(--notes-bg);
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--second-color);
    margin: 0 3px 10px 3px;
    transition: all 0.2s ease-in-out;
    will-change: contents;
    position: relative;
    &__category {
        position: absolute;
        top: 0;
        right: 10px;
        width: 15px;
        height: 15px;
    }
    &__items {
        display: flex;
        align-items: center;
    }
    &__content {
        flex: 1 1 auto;
        margin-right: 10px;
    }
    &__button {
        display: inline-flex;
        svg {
            width: 20px;
            height: 20px;
            path {
                fill: #b7b7b7;
                transition: fill 0.2s ease-in-out;
            }
        }
    }
    @media (max-width: 375px) {
        & {
            padding: 10px 14px;
        }
    }
    &:hover {
        transform: scale(1.01);
    }
    &__label {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 3px;
    }
    &__date {
        font-size: 14px;
    }
}

.selected {
    margin-left: 3px;
    svg {
        width: 10px;
        height: 10px;
        path {
            fill: var(--accent-color);
            transition: fill 0.2s ease-in-out;
        }
    }
}