.task {
    display: flex;
    align-items: center;
    transition: transform 0.2s ease;
    will-change: contents;
    margin: 0 3px;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    &__title {
        font-size: 18px;
        font-weight: 400;
        flex: 1 1 auto;
        margin-right: 7px;
        color: var(--second-color);
        transition: color 0.2s ease-in-out;
        @media (max-width: 424.99px) {
            & {
                font-size: 16px;
            }
        }
    }
    &__input {
        flex: 1;
        margin-right: 10px;
        padding: 5px 6px;
        border: 1px solid #d3d3d3a8;
        border-radius: 3px;
        outline: none;
    }
    &__actions {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
    &__action {
        svg {
            width: 20px;
            height: 20px;
            path {
                fill: #b7b7b7;
                transition: fill 0.2s ease-in-out;
            }
        }
        &.task__action_remove {
            svg {
                @media (any-hover: hover) {
                    &:hover {
                        path {
                            fill: #f84f4f;
                        }
                    }
                }
            }
        }
        &.task__action_redact {
            svg {
                @media (any-hover: hover) {
                    &:hover {
                        path {
                            fill: #f8d94f;
                        }
                    }
                }
            }
        }
        &.task__action_confirm {
            svg {
                &:hover {
                    path {
                        fill: #4ff877;
                    }
                }
            }
        }
    }
    &.taskComplete {
        .task__title {
            text-decoration: line-through;
        }
    }
    @media (any-hover: hover) {
        &:hover {
            transform: scale(1.01);
        }
    }
}

