.notesFilter {
    @media (min-width: 425px) {
        position: relative;
    }
}

.notesFilterSelected {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: var(--sub-color);
}

.selectedIcon {
    transform: translateY(2px);
    margin-right: 5px;
    svg {
        width: 15px;
        height: 15px;
    }
}

.notesFilterBody {
    position: absolute;
    background-color: var(--body-color);
    top: 24px;
    z-index: 3;
    border-radius: 4px;
    padding: 7px;
    box-shadow: 2px 1px 10px 3px var(--box-shadow);
    transform: translateY(6px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    &._active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    @media (max-width: 424.98px) {
        width: calc(100% - 14px);
    }
}

.filter {
    max-height: 218px;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 5px;
        background-color: rgb(200, 200, 200);
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: rgb(143, 143, 143);
    }
    @media (max-width: 424.98px) {
        max-height: 265px;
    }
}

.filter,
.createCategory {
    margin-top: 8px;
    padding: 0 5px;
}

.filterNotes {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--sub-color);
}