.prompt {
    position: fixed;
    bottom: -70%;
    left: 0;
    background-color: var(--body-color);
    border-radius: 17px;
    box-shadow: 1px 23px 20px -16px var(--box-shadow);
    z-index: 5;
    margin: 0 3px;
    visibility: hidden;
    transition: all 0.2s ease-in-out, bottom 0.4s ease-in-out;
    &._active {
        bottom: 15%;
        visibility: visible;
    }
    &__items {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }
    &__image {
        margin-right: 22px;
    }
    &__text {
        position: relative;
        &::before {
            position: absolute;
            left: -12px;
            top: 50%;
            transform: translateY(-50%);
            content: '';
            width: 1px;
            height: 110%;
            background-color: var(--accent-color);
        }
    }
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        button {
            font-size: 13px;
            flex: 1 1 calc(50% - 5px);
        }
    }
}

@media (min-width: 319.99px) {
    .prompt {
        position: fixed;
        &__body {
            padding: 11px 17px 17px 21px;
        }
        &__text {
            font-size: 13px;
        }
        &._active {
            bottom: 70px;
        }
    }
}

@media (min-width: 539.99px) {
    .prompt {
        position: absolute;
    }
}