.noteRedact {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 5px 15px 5px;
    }
    &__action {
        display: inline-flex;
        width: 20px;
        transition: all 0.2s ease-in-out;
        svg {
            path {
                fill: #b7b7b7;
                transition: fill 0.2s ease-in-out;
            }
        }
    }
    &__back {
        &:hover {
            transform: translateX(-2px);
            svg {
                path {
                    fill: #c5c5c5;
                }
            }
        }
    }
    &__save {
        will-change: contents;
        &:hover {
            transform: scale(1.1);
            svg {
                &:hover {
                    path {
                        fill: #4ff877;
                    }
                }
            }
        }
    }
    &__description {
        flex: 1 1 auto;
        @media (max-width: 540px) {
            & {
                margin-bottom: 70px;
            }
        }
    }
    &__input,
    &__textarea {
        width: calc(100% - 6px);
        outline: none;
        border: none;
        background: transparent;
        &::placeholder {
            color: var(--placeholder-color);
        }
    }
    &__input {
        font-size: 28px;
        font-weight: 700;
        color: var(--second-color);
        margin-bottom: 2px;
    }
    &__category {
        margin-bottom: 6px;
    }
    &__textarea {
        height: 100%;
        font-size: 17px;
        color: var(--second-color);
    }
}