.todo {
    max-width: 540px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 16px 21px -1px var(--box-shadow);
    transition: all 0.2s ease-in-out;
    min-height: 500px;
    flex-direction: column;
    display: flex;
    &__header {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 5;
        background-color: var(--accent-color);
        transition: background-color 0.2s 0.01s ease-in-out;
        padding: 15px 20px;
        border-radius: 4px 4px 0px 0px;
        &Title {
            color: var(--main-color);
            font-size: 22px;
            font-weight: 600;
        }
        @media (max-width: 424.99px) {
            & {
                padding: 15px 10px 15px 10px;
            }
        }
    }
    &__body {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        transition: background-color 0.2s ease-in-out;
        background-color: var(--body-color);
        padding: 15px 15px 0 15px;
        overflow: hidden;
        @media (max-width: 424.99px) {
            & {
                padding: 15px 10px 15px 10px;
            }
        }
    }
    &__tasks {
    }
    &__content {
        @media (min-width: 319.98px) {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            margin-bottom: 60px;
        }
        @media (min-width: 539.99px) {
            margin-bottom: 0px;
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
        }
    }
    &__notes {
        position: relative;
    }
    @media (max-width: 539.99px) {
        height: 100%;
        &__content {
            &Wrapper {
                max-height: none;
            }
        }
        &__header {
            border-radius: 0;
        }
        &__notes {
            max-height: none;
        }
    }
}

.themeButton {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1;
    svg {
        path {
            fill: #fff;
        }
    }
    @media (max-width: 424.99px) {
        right: 11px;
    }
    &Moon {
        transform: translateY(-50%) rotate(-75deg) scale(0);
        visibility: hidden;
        &.active {
            animation: moonActive 0.4s linear;
            transform: translateY(-50%) rotate(0deg);
        }
    }
    &Sun {
        transform: translateY(-50%) rotate(0deg) scale(0);
        visibility: hidden;
        &.active {
            animation: sunActive 0.4s linear;
            transform: translateY(-50%) rotate(360deg) scale(1);
        }
    }
    &.active {
        z-index: 2;
        visibility: visible;
    }
}

@keyframes moonActive {
    0% {
        transform: translateY(-50%) rotate(-75deg) scale(0);
    }
    50% {
        transform: translateY(-50%) rotate(0deg) scale(0.7);
    }
    70% {
        transform: translateY(-50%) rotate(20deg) scale(1);
    }
    100% {
        transform: translateY(-50%) rotate(0deg);
    }
}

@keyframes sunActive {
    0% {
        transform: translateY(-50%) rotate(0deg) scale(0);
    }
    50% {
        transform: translateY(-50%) rotate(300deg) scale(0.5);
        transition: all 0.1s ease;
    } 
    70% {
        transform: translateY(-50%) rotate(330deg) scale(0.7);
        transition: all 0.3s ease;
    }
    90% {
        transform: translateY(-50%) rotate(350deg) scale(0.8);
        transition: all 0.5s ease;
    }
    100% {
        transform: translateY(-50%) rotate(360deg) scale(1);
    }
}

.addBtn {
    width: 50px;
    height: 50px;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 50%;
    box-shadow: 1px 16px 22px -16px var(--accent-color);
    transition: all 0.2s ease-in-out, transform 0.2s 0.05s ease-in-out;
    &.hidden {
        transform: translateY(270%);
    }
    @media (min-width: 319.98px) {
        position: fixed;
        left: 81%;
        bottom: 78px;
    }
    @media (min-width: 374.98px) {
        position: fixed;
        left: 85%;
        bottom: 78px;
    }
    @media (min-width: 540px) {
        position: absolute;
        left: 88%;
        bottom: 12px;
        &._sticky {
            position: sticky;
            left: 87%;
        }
    }
    svg {
        path {
            fill: #fff;
        }
    }
}

.noteCounter {
    margin-right: 10px;
}

.noteField {
    margin-bottom: 12px !important;
}

.notesInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 3px 10px 3px;
    font-size: 15px;
    color: var(--sub-color);
    transition: color 0.2s ease-in-out;
    @media (max-width: 425px) {
        position: relative;
    }
}

.modalText {
    margin-bottom: 12px;
    font-weight: 600;
    text-align: center;
    line-height: 21px;
    color: var(--second-color);
}